{% extends "tasks/layout.html" %}
{% load static %}

{% block body %}
    <div class="container-b">
        <div class="left">
            <h2>Tasks</h2>
            <ul class="task-list">
                {% for task_index, task, timestamp in task_data %}
                    <li data-task="{{ task }}" data-timestamp="{{ timestamp }}">
                        <input type="checkbox">
                        <label>{{ task }}</label>
                        <br> 
                        <label class="date">{{ timestamp }}</label>
                        <a href="{% url 'tasks:delete_task' task_index %}">
                            <img id="delete-{{ task_index }}" class="delete-btn" src="{% static 'tasks/delete.svg' %}" alt="delete">
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="right">
            <h2>Add Task</h2>
            <form action="{% url 'tasks:index' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
{% endblock %}
