* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}
.contain{
    display: flex;
    flex-direction: column;
}

.container-b {
    display: flex;
    justify-content: center;
    height: max-content;
    min-height: 70vh;
    padding: 1em;
    margin: 1em;
    gap: 9.5em;
    flex-wrap: wrap;
}

.container-b h2 {
    margin-bottom: 1em;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header img {
    width: 80px;
    height: auto;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
}

.task-list {
    list-style: none;
    padding-left: 0;
}

.task-list li {
    margin-bottom: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 0; 
    text-align: center;
    bottom: 0;
    width: 100%;
}

.add-task-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
}

.add-task-link:hover {
    background-color: #ddd;
}

input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    border: 1rem solid #333;
    padding: 2px;
    cursor: pointer;
    margin-right: .3em;
    accent-color: #333;
}


input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}



label {
    padding: 0px;
    font-size: large;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 7px 17px;
    border-radius: 5px;
}

input[type="submit"]:hover{
    background-color: #4e4d4d;
    color: #fff4f4;
}

input[type="text"] {
    padding: 5px;
    width: 15em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30%;
}

img{
    width: 1.2rem;
    margin-left: .1rem;
}

br{
    margin-left: 1em;
}

.date{
    margin-left: 1em;
    color: rgb(52, 118, 51);
    font-size: 1em;
}